# Abaikan semua file
*

# ========================
# REPO ESSENTIALS
# ========================
!.gitignore
!README.md
!LICENSE

# ========================
# FILE TERJEMAHAN
# ========================
!**/*.xml
!**/*.csv
!**/*.txt
!**/*.loc
!**/*.lang
!**/*.json

# ========================
# IZINKAN FOLDER
# ========================
!*/
